<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="Name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <br>
    <label for="Surname">Surname: </label>
    <input type="text" th:field="*{surName}" id="surname"/>
    <br>
    <br>
    <label for="Age">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <br>
    <input type="submit" value="Ok"/>
</form>

</body>
</html>